.elementor-widget-heading .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-text-editor {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-button .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
  background-color: var(--e-global-color-accent);
}

.elementor-widget-icon-box.elementor-view-default .elementor-icon {
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-widget-icon-box
  .elementor-icon-box-content
  .elementor-icon-box-title {
  color: var(--e-global-color-primary);
}
.elementor-widget-icon-box
  .elementor-icon-box-content
  .elementor-icon-box-title,
.elementor-widget-icon-box
  .elementor-icon-box-content
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-icon-box
  .elementor-icon-box-content
  .elementor-icon-box-description {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
  border-color: var(--e-global-color-text);
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
  color: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-icon svg {
  fill: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}
.elementor-widget-icon-list .elementor-icon-list-item,
.elementor-widget-icon-list .elementor-icon-list-item a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-content_form_contact fieldset > label {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset > label {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-content_form_contact fieldset > input,
.elementor-widget-content_form_contact fieldset select,
.elementor-widget-content_form_contact fieldset > textarea,
.elementor-widget-content_form_contact fieldset > button {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-content_form_contact fieldset > input {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset > input::placeholder {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset select {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset select::placeholder {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset > textarea {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset > textarea::placeholder {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset > input:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset > input::placeholder:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset select:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset select::placeholder:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset > textarea:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset > textarea::placeholder:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_contact fieldset > button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-widget-content_form_newsletter fieldset > label {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset > label {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-content_form_newsletter fieldset > input,
.elementor-widget-content_form_newsletter fieldset select,
.elementor-widget-content_form_newsletter fieldset > textarea,
.elementor-widget-content_form_newsletter fieldset > button {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-content_form_newsletter fieldset > input {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset > input::placeholder {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset select {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset select::placeholder {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset > textarea {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset > textarea::placeholder {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset > input:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset > input::placeholder:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset select:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset select::placeholder:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset > textarea:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter
  fieldset
  > textarea::placeholder:focus {
  color: var(--e-global-color-text);
}
.elementor-widget-content_form_newsletter fieldset > button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
