.elementor-102
  .elementor-element.elementor-element-21b912c:not(
    .elementor-motion-effects-element-type-background
  ) {
  background-image: url("../../2019/09/IMG_0477-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-102
  .elementor-element.elementor-element-21b912c
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.4;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-102
  .elementor-element.elementor-element-21b912c
  .elementor-background-overlay {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(325deg);
}
.elementor-102 .elementor-element.elementor-element-21b912c {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 399px 0px 100px 0px;
}
.elementor-102 .elementor-element.elementor-element-668fb76 {
  text-align: center;
}
.elementor-102
  .elementor-element.elementor-element-668fb76
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
}
.elementor-102
  .elementor-element.elementor-element-e5ecef2
  .elementor-text-editor {
  text-align: center;
}
.elementor-102 .elementor-element.elementor-element-e5ecef2 {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 41px;
}
.elementor-102 .elementor-element.elementor-element-98b4e4e {
  margin-top: -92px;
  margin-bottom: 0px;
}
.elementor-102
  .elementor-element.elementor-element-ee395aa:not(
    .elementor-motion-effects-element-type-background
  ) {
  background-color: #718048;
}
.elementor-102 .elementor-element.elementor-element-ee395aa {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-102
  .elementor-element.elementor-element-ee395aa
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-102
  .elementor-element.elementor-element-ee395aa
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-102 .elementor-element.elementor-element-219c199 {
  text-align: left;
}
.elementor-102
  .elementor-element.elementor-element-219c199
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 37px;
}
.elementor-102
  .elementor-element.elementor-element-219c199
  > .elementor-widget-container {
  margin: 69px 0px 0px 50px;
}
.elementor-102 .elementor-element.elementor-element-fe0138d .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  fill: #ffffff;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-radius: 4px 4px 4px 4px;
}
.elementor-102
  .elementor-element.elementor-element-fe0138d
  .elementor-button:hover,
.elementor-102
  .elementor-element.elementor-element-fe0138d
  .elementor-button:focus {
  color: #718048;
  background-color: #ffffff;
}
.elementor-102
  .elementor-element.elementor-element-fe0138d
  .elementor-button:hover
  svg,
.elementor-102
  .elementor-element.elementor-element-fe0138d
  .elementor-button:focus
  svg {
  fill: #718048;
}
.elementor-102
  .elementor-element.elementor-element-fe0138d
  > .elementor-widget-container {
  margin: 45px 0px 46px 0px;
}
.elementor-102 .elementor-element.elementor-element-7170989 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-102
  .elementor-element.elementor-element-7170989
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-102 .elementor-element.elementor-element-3822b0e {
  text-align: center;
}
.elementor-102
  .elementor-element.elementor-element-2efe8f3.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-102
  .elementor-element.elementor-element-2efe8f3
  > .elementor-element-populated {
  padding: 40px 40px 40px 40px;
}
.elementor-102
  .elementor-element.elementor-element-ec79357
  .elementor-heading-title {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 37px;
}
.elementor-102
  .elementor-element.elementor-element-ec79357
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-102 .elementor-element.elementor-element-099bab4 {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}
.elementor-102
  .elementor-element.elementor-element-d7b3108:not(
    .elementor-motion-effects-element-type-background
  ) {
  background-image: url("../../2019/10/IMG_0844-2.jpg");
  background-position: center center;
  background-size: cover;
}
.elementor-102
  .elementor-element.elementor-element-d7b3108
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.4;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-102 .elementor-element.elementor-element-d7b3108 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 150px 0px 150px 0px;
}
.elementor-102
  .elementor-element.elementor-element-e305b79.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-102
  .elementor-element.elementor-element-e305b79:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap {
  background-color: #ffffff;
}
.elementor-102
  .elementor-element.elementor-element-e305b79
  > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 40px 40px 40px;
}
.elementor-102
  .elementor-element.elementor-element-e305b79
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-102
  .elementor-element.elementor-element-82b7280
  .elementor-heading-title {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 37px;
}
.elementor-102 .elementor-element.elementor-element-6309cf6 {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}
.elementor-102 .elementor-element.elementor-element-6fbb914 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  fill: #ffffff;
  color: #ffffff;
  background-color: #718048;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  border-radius: 4px 4px 4px 4px;
}
.elementor-102
  .elementor-element.elementor-element-6fbb914
  .elementor-button:hover,
.elementor-102
  .elementor-element.elementor-element-6fbb914
  .elementor-button:focus {
  color: #718048;
  background-color: #ffffff;
}
.elementor-102
  .elementor-element.elementor-element-6fbb914
  .elementor-button:hover
  svg,
.elementor-102
  .elementor-element.elementor-element-6fbb914
  .elementor-button:focus
  svg {
  fill: #718048;
}
.elementor-102
  .elementor-element.elementor-element-78b9624:not(
    .elementor-motion-effects-element-type-background
  ) {
  background-color: #718048;
}
.elementor-102 .elementor-element.elementor-element-78b9624 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 50px 0px 45px 0px;
}
.elementor-102
  .elementor-element.elementor-element-78b9624
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-102
  .elementor-element.elementor-element-a7ce569
  > .elementor-container {
  max-width: 567px;
}
.elementor-102 .elementor-element.elementor-element-3a88f93 {
  text-align: center;
}
.elementor-102
  .elementor-element.elementor-element-3a88f93
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 37px;
}
.elementor-102
  .elementor-element.elementor-element-75624c9
  .elementor-text-editor {
  text-align: center;
}
.elementor-102 .elementor-element.elementor-element-75624c9 {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}
.elementor-102 .elementor-element.elementor-element-5a955c2 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 24px;
  line-height: 16px;
  fill: #ffffff;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-radius: 4px 4px 4px 4px;
}
.elementor-102
  .elementor-element.elementor-element-5a955c2
  .elementor-button:hover,
.elementor-102
  .elementor-element.elementor-element-5a955c2
  .elementor-button:focus {
  color: #718048;
  background-color: #ffffff;
}
.elementor-102
  .elementor-element.elementor-element-5a955c2
  .elementor-button:hover
  svg,
.elementor-102
  .elementor-element.elementor-element-5a955c2
  .elementor-button:focus
  svg {
  fill: #718048;
}
.elementor-102
  .elementor-element.elementor-element-ef6c560:not(
    .elementor-motion-effects-element-type-background
  ) {
  background-color: #f3f3f3;
}
.elementor-102 .elementor-element.elementor-element-ef6c560 {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-102
  .elementor-element.elementor-element-ef6c560
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-102
  .elementor-element.elementor-element-ea4ce85.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-102
  .elementor-element.elementor-element-ea4ce85
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-102 .elementor-element.elementor-element-9d00dbc {
  text-align: center;
}
.elementor-102
  .elementor-element.elementor-element-9d00dbc
  .elementor-heading-title {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 3.2em;
}
.elementor-102 .elementor-element.elementor-element-0c9315c iframe {
  height: 330px;
  filter: brightness(100%) contrast(100%) saturate(126%) blur(0px)
    hue-rotate(0deg);
}
.elementor-102
  .elementor-element.elementor-element-0502b3d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-102
  .elementor-element.elementor-element-0502b3d:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap {
  background-color: #f3f3f3;
}
.elementor-102
  .elementor-element.elementor-element-0502b3d
  > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 40px 40px 40px;
}
.elementor-102
  .elementor-element.elementor-element-0502b3d
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-102 .elementor-element.elementor-element-1c0f758 {
  text-align: center;
}
.elementor-102
  .elementor-element.elementor-element-1c0f758
  .elementor-heading-title {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.elementor-102
  .elementor-element.elementor-element-5c89636
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(11px / 2);
}
.elementor-102
  .elementor-element.elementor-element-5c89636
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(11px / 2);
}
.elementor-102
  .elementor-element.elementor-element-5c89636
  .elementor-icon-list-icon
  i {
  color: #718048;
  font-size: 15px;
}
.elementor-102
  .elementor-element.elementor-element-5c89636
  .elementor-icon-list-icon
  svg {
  fill: #718048;
  width: 15px;
}
.elementor-102
  .elementor-element.elementor-element-5c89636
  .elementor-icon-list-text {
  color: #1f2025;
  padding-left: 28px;
}
.elementor-102
  .elementor-element.elementor-element-5c89636
  .elementor-icon-list-item,
.elementor-102
  .elementor-element.elementor-element-5c89636
  .elementor-icon-list-item
  a {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}
.elementor-102
  .elementor-element.elementor-element-5c89636
  > .elementor-widget-container {
  margin: 24px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-58b984b
  .content-form
  .submit-form {
  text-align: left;
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-102 .elementor-element.elementor-element-58b984b .elementor-column {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
body.rtl
  .elementor-102
  .elementor-element.elementor-element-58b984b
  fieldset
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-102
  .elementor-element.elementor-element-58b984b
  fieldset
  > label {
  padding-right: 0px;
}
body
  .elementor-102
  .elementor-element.elementor-element-58b984b
  fieldset
  > label {
  padding-bottom: 0px;
}
.elementor-102 .elementor-element.elementor-element-58b984b fieldset > input {
  text-align: left;
  background-color: #ffffff;
}
.elementor-102 .elementor-element.elementor-element-58b984b fieldset select {
  text-align: left;
  background-color: #ffffff;
}
.elementor-102
  .elementor-element.elementor-element-58b984b
  fieldset
  > textarea {
  text-align: left;
  background-color: #ffffff;
}
.elementor-102
  .elementor-element.elementor-element-58b984b
  fieldset
  > input:focus {
  background-color: #ffffff;
}
.elementor-102
  .elementor-element.elementor-element-58b984b
  fieldset
  select:focus {
  background-color: #ffffff;
}
.elementor-102
  .elementor-element.elementor-element-58b984b
  fieldset
  > textarea:focus {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .elementor-102 .elementor-element.elementor-element-dd4c1bb {
    width: 21.058%;
  }
  .elementor-102 .elementor-element.elementor-element-3d02989 {
    width: 65.614%;
  }
  .elementor-102 .elementor-element.elementor-element-d523640 {
    width: 34.383%;
  }
}
@media (max-width: 1024px) {
  .elementor-102 .elementor-element.elementor-element-668fb76 {
    text-align: center;
  }
  .elementor-102
    .elementor-element.elementor-element-e5ecef2
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-102
    .elementor-element.elementor-element-ec79357
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-099bab4
    > .elementor-widget-container {
    margin: 0px 0px 50px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-9d00dbc
    .elementor-heading-title {
    line-height: 1.1em;
  }
  .elementor-102 .elementor-element.elementor-element-0c9315c iframe {
    height: 340px;
  }
}
@media (max-width: 767px) {
  .elementor-102 .elementor-element.elementor-element-21b912c {
    padding: 60px 0px 60px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-668fb76 {
    text-align: center;
  }
  .elementor-102
    .elementor-element.elementor-element-668fb76
    .elementor-heading-title {
    font-size: 28px;
    line-height: 33px;
  }
  .elementor-102
    .elementor-element.elementor-element-e5ecef2
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-102 .elementor-element.elementor-element-e5ecef2 {
    font-size: 17px;
    line-height: 27px;
  }
  .elementor-102 .elementor-element.elementor-element-98b4e4e {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-102 .elementor-element.elementor-element-ee395aa {
    padding: 55px 0px 55px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-219c199 {
    text-align: center;
  }
  .elementor-102
    .elementor-element.elementor-element-219c199
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-102
    .elementor-element.elementor-element-219c199
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-fe0138d
    .elementor-button {
    font-size: 18px;
    padding: 18px 18px 18px 18px;
  }
  .elementor-102
    .elementor-element.elementor-element-fe0138d
    > .elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-2efe8f3
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-102 .elementor-element.elementor-element-ec79357 {
    text-align: center;
  }
  .elementor-102
    .elementor-element.elementor-element-ec79357
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-102
    .elementor-element.elementor-element-ec79357
    > .elementor-widget-container {
    margin: 39px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-099bab4
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-102 .elementor-element.elementor-element-099bab4 {
    font-size: 14px;
  }
  .elementor-102
    .elementor-element.elementor-element-099bab4
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-d7b3108 {
    padding: 60px 0px 60px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-e305b79
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-102 .elementor-element.elementor-element-82b7280 {
    text-align: center;
  }
  .elementor-102
    .elementor-element.elementor-element-82b7280
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-102
    .elementor-element.elementor-element-6309cf6
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-102 .elementor-element.elementor-element-6309cf6 {
    font-size: 14px;
  }
  .elementor-102
    .elementor-element.elementor-element-6fbb914
    .elementor-button {
    font-size: 16px;
    padding: 15px 15px 15px 15px;
  }
  .elementor-102 .elementor-element.elementor-element-78b9624 {
    padding: 40px 0px 40px 0px;
  }
  .elementor-102 .elementor-element.elementor-element-3a88f93 {
    text-align: center;
  }
  .elementor-102
    .elementor-element.elementor-element-3a88f93
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-102 .elementor-element.elementor-element-75624c9 {
    font-size: 14px;
  }
  .elementor-102
    .elementor-element.elementor-element-5a955c2
    .elementor-button {
    font-size: 15px;
    padding: 18px 18px 18px 18px;
  }
  .elementor-102
    .elementor-element.elementor-element-5a955c2
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-9d00dbc
    .elementor-heading-title {
    line-height: 1.2em;
  }
  .elementor-102
    .elementor-element.elementor-element-0502b3d
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-102
    .elementor-element.elementor-element-5c89636
    .elementor-icon-list-item,
  .elementor-102
    .elementor-element.elementor-element-5c89636
    .elementor-icon-list-item
    a {
    font-size: 14px;
  }
}
