.elementor-113
  .elementor-element.elementor-element-6353b0a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-113
  .elementor-element.elementor-element-6353b0a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2019/11/IMG_0782-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.elementor-113
  .elementor-element.elementor-element-6353b0a
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-113 .elementor-element.elementor-element-6353b0a {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 235px 0px 180px 0px;
}
.elementor-113 .elementor-element.elementor-element-a7a4c39 {
  text-align: center;
}
.elementor-113
  .elementor-element.elementor-element-a7a4c39
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 55px;
  font-weight: 700;
}
.elementor-113 .elementor-element.elementor-element-89e6e9d {
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-113
  .elementor-element.elementor-element-d3ca77b.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-113
  .elementor-element.elementor-element-d3ca77b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-113
  .elementor-element.elementor-element-d3ca77b
  > .elementor-element-populated {
  padding: 40px 40px 40px 40px;
}
.elementor-113 .elementor-element.elementor-element-76e3e16 {
  text-align: left;
}
.elementor-113
  .elementor-element.elementor-element-76e3e16
  .elementor-heading-title {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 37px;
}
.elementor-113 .elementor-element.elementor-element-948af91 {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  line-height: 29px;
}
.elementor-113
  .elementor-element.elementor-element-948af91
  > .elementor-widget-container {
  margin: 0px 0px -16px 0px;
}
.elementor-113 .elementor-element.elementor-element-ecb5422 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #718048;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #718048;
  border-radius: 4px 4px 4px 4px;
}
.elementor-113
  .elementor-element.elementor-element-ecb5422
  .elementor-button:hover,
.elementor-113
  .elementor-element.elementor-element-ecb5422
  .elementor-button:focus {
  color: #718048;
  background-color: #ffffff;
}
.elementor-113
  .elementor-element.elementor-element-ecb5422
  .elementor-button:hover
  svg,
.elementor-113
  .elementor-element.elementor-element-ecb5422
  .elementor-button:focus
  svg {
  fill: #718048;
}
.elementor-113 .elementor-element.elementor-element-b0e849f .gallery-item {
  padding: 0 10px 10px 0;
}
.elementor-113 .elementor-element.elementor-element-b0e849f .gallery {
  margin: 0 -10px -10px 0;
}
.elementor-113
  .elementor-element.elementor-element-b0e849f
  .gallery-item
  .gallery-caption {
  text-align: center;
}
.elementor-113
  .elementor-element.elementor-element-7ab795c
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-113
  .elementor-element.elementor-element-7ab795c:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-113
  .elementor-element.elementor-element-7ab795c
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2019/04/04.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-113
  .elementor-element.elementor-element-7ab795c
  > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-113
  .elementor-element.elementor-element-7ab795c
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-113
  .elementor-element.elementor-element-3282e22
  .elementor-image
  img {
  transition-duration: 0.3s;
}
.elementor-bc-flex-widget
  .elementor-113
  .elementor-element.elementor-element-5499779.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-113
  .elementor-element.elementor-element-5499779.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-113
  .elementor-element.elementor-element-5499779:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-113
  .elementor-element.elementor-element-5499779
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f3f3f3;
}
.elementor-113
  .elementor-element.elementor-element-5499779
  > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 40px 40px 40px;
}
.elementor-113
  .elementor-element.elementor-element-5499779
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-113
  .elementor-element.elementor-element-013d9fe
  .elementor-heading-title {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 37px;
}
.elementor-113
  .elementor-element.elementor-element-013d9fe
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-113 .elementor-element.elementor-element-33c29f6 {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  line-height: 29px;
}
.elementor-113
  .elementor-element.elementor-element-33c29f6
  > .elementor-widget-container {
  margin: 21px 0px 0px 0px;
}
.elementor-113 .elementor-element.elementor-element-63f2200 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #718048;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #718048;
  border-radius: 4px 4px 4px 4px;
}
.elementor-113
  .elementor-element.elementor-element-63f2200
  .elementor-button:hover,
.elementor-113
  .elementor-element.elementor-element-63f2200
  .elementor-button:focus {
  color: #718048;
  background-color: #ffffff;
}
.elementor-113
  .elementor-element.elementor-element-63f2200
  .elementor-button:hover
  svg,
.elementor-113
  .elementor-element.elementor-element-63f2200
  .elementor-button:focus
  svg {
  fill: #718048;
}
@media (max-width: 1024px) {
  .elementor-113
    .elementor-element.elementor-element-013d9fe
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-113 .elementor-element.elementor-element-6353b0a {
    padding: 80px 0px 80px 0px;
  }
  .elementor-113
    .elementor-element.elementor-element-a7a4c39
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-113 .elementor-element.elementor-element-89e6e9d {
    padding: 40px 0px 60px 0px;
  }
  .elementor-113
    .elementor-element.elementor-element-d3ca77b
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-113 .elementor-element.elementor-element-76e3e16 {
    text-align: center;
  }
  .elementor-113
    .elementor-element.elementor-element-76e3e16
    .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-113
    .elementor-element.elementor-element-948af91
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-113
    .elementor-element.elementor-element-ecb5422
    .elementor-button {
    font-size: 14px;
  }
  .elementor-113 .elementor-element.elementor-element-117cca7 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-113
    .elementor-element.elementor-element-5499779
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-113 .elementor-element.elementor-element-013d9fe {
    text-align: center;
  }
  .elementor-113
    .elementor-element.elementor-element-013d9fe
    .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-113
    .elementor-element.elementor-element-33c29f6
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-113
    .elementor-element.elementor-element-63f2200
    .elementor-button {
    font-size: 14px;
  }
}
