.elementor-2
  .elementor-element.elementor-element-1da775e
  > .elementor-container {
  max-width: 1600px;
}
.elementor-2
  .elementor-element.elementor-element-1da775e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2
  .elementor-element.elementor-element-1da775e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #718048;
}
.elementor-2 .elementor-element.elementor-element-1da775e {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-1da775e
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-2
  .elementor-element.elementor-element-ee37d8b.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-ee37d8b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-ee37d8b:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-2
  .elementor-element.elementor-element-ee37d8b
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f3f3f3;
}
.elementor-2
  .elementor-element.elementor-element-ee37d8b
  > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 40px 40px 40px;
}
.elementor-2
  .elementor-element.elementor-element-ee37d8b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-2
  .elementor-element.elementor-element-87bc06b.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-2
  .elementor-element.elementor-element-87bc06b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-2
  .elementor-element.elementor-element-87bc06b
  > .elementor-element-populated {
  margin: 35px 50px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-4d122ff
  .elementor-heading-title {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}
.elementor-2
  .elementor-element.elementor-element-4d122ff
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-2
  .elementor-element.elementor-element-a62a4ad.elementor-view-stacked
  .elementor-icon {
  background-color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-a62a4ad.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-a62a4ad.elementor-view-default
  .elementor-icon {
  fill: #718048;
  color: #718048;
  border-color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-a62a4ad.elementor-position-right
  .elementor-icon-box-icon {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-a62a4ad.elementor-position-left
  .elementor-icon-box-icon {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-a62a4ad.elementor-position-top
  .elementor-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-2 .elementor-element.elementor-element-a62a4ad .elementor-icon {
  font-size: 20px;
}
.elementor-2 .elementor-element.elementor-element-a62a4ad .elementor-icon i {
  transform: rotate(0deg);
}
.elementor-2
  .elementor-element.elementor-element-a62a4ad
  .elementor-icon-box-content
  .elementor-icon-box-title {
  color: #616161;
}
.elementor-2
  .elementor-element.elementor-element-a62a4ad
  .elementor-icon-box-content
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-a62a4ad
  .elementor-icon-box-content
  .elementor-icon-box-title
  a {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.elementor-2
  .elementor-element.elementor-element-a62a4ad
  .elementor-icon-box-content
  .elementor-icon-box-description {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.elementor-2
  .elementor-element.elementor-element-c240945.elementor-view-stacked
  .elementor-icon {
  background-color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-c240945.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-c240945.elementor-view-default
  .elementor-icon {
  fill: #718048;
  color: #718048;
  border-color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-c240945.elementor-position-right
  .elementor-icon-box-icon {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-c240945.elementor-position-left
  .elementor-icon-box-icon {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-c240945.elementor-position-top
  .elementor-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-2 .elementor-element.elementor-element-c240945 .elementor-icon {
  font-size: 20px;
}
.elementor-2 .elementor-element.elementor-element-c240945 .elementor-icon i {
  transform: rotate(0deg);
}
.elementor-2
  .elementor-element.elementor-element-c240945
  .elementor-icon-box-content
  .elementor-icon-box-title {
  color: #616161;
}
.elementor-2
  .elementor-element.elementor-element-c240945
  .elementor-icon-box-content
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-c240945
  .elementor-icon-box-content
  .elementor-icon-box-title
  a {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.elementor-2
  .elementor-element.elementor-element-c240945
  .elementor-icon-box-content
  .elementor-icon-box-description {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.elementor-2
  .elementor-element.elementor-element-6742189.elementor-view-stacked
  .elementor-icon {
  background-color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-6742189.elementor-view-framed
  .elementor-icon,
.elementor-2
  .elementor-element.elementor-element-6742189.elementor-view-default
  .elementor-icon {
  fill: #718048;
  color: #718048;
  border-color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-6742189.elementor-position-right
  .elementor-icon-box-icon {
  margin-left: 15px;
}
.elementor-2
  .elementor-element.elementor-element-6742189.elementor-position-left
  .elementor-icon-box-icon {
  margin-right: 15px;
}
.elementor-2
  .elementor-element.elementor-element-6742189.elementor-position-top
  .elementor-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-2 .elementor-element.elementor-element-6742189 .elementor-icon {
  font-size: 20px;
}
.elementor-2 .elementor-element.elementor-element-6742189 .elementor-icon i {
  transform: rotate(0deg);
}
.elementor-2
  .elementor-element.elementor-element-6742189
  .elementor-icon-box-content
  .elementor-icon-box-title {
  color: #616161;
}
.elementor-2
  .elementor-element.elementor-element-6742189
  .elementor-icon-box-content
  .elementor-icon-box-title,
.elementor-2
  .elementor-element.elementor-element-6742189
  .elementor-icon-box-content
  .elementor-icon-box-title
  a {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.elementor-2
  .elementor-element.elementor-element-6742189
  .elementor-icon-box-content
  .elementor-icon-box-description {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-repeater-item-cde7045.elementor-social-icon {
  background-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-repeater-item-cde7045.elementor-social-icon
  i {
  color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-repeater-item-cde7045.elementor-social-icon
  svg {
  fill: #718048;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-repeater-item-8586424.elementor-social-icon {
  background-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-repeater-item-8586424.elementor-social-icon
  i {
  color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-repeater-item-8586424.elementor-social-icon
  svg {
  fill: #718048;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-repeater-item-2eb0707.elementor-social-icon {
  background-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-repeater-item-2eb0707.elementor-social-icon
  i {
  color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-repeater-item-2eb0707.elementor-social-icon
  svg {
  fill: #718048;
}
.elementor-2 .elementor-element.elementor-element-97b88ae {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-widget-container {
  text-align: center;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-social-icon {
  background-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-social-icon
  i {
  color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-social-icon
  svg {
  fill: #718048;
}
.elementor-2 .elementor-element.elementor-element-97b88ae .elementor-icon {
  border-radius: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-social-icon:hover {
  background-color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-social-icon:hover
  i {
  color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  .elementor-social-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-97b88ae
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-2
  .elementor-element.elementor-element-a870df9.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-a870df9.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2
  .elementor-element.elementor-element-a870df9:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-2
  .elementor-element.elementor-element-a870df9
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f3f3f3;
}
.elementor-2
  .elementor-element.elementor-element-a870df9
  > .elementor-element-populated {
  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
  padding: 40px 40px 40px 40px;
}
.elementor-2
  .elementor-element.elementor-element-a870df9
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition:
    background 0.3s,
    border-radius 0.3s,
    opacity 0.3s;
}
.elementor-2
  .elementor-element.elementor-element-1857ece
  .elementor-heading-title {
  color: #1f2025;
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}
.elementor-2
  .elementor-element.elementor-element-64a6ada
  .content-form
  .submit-form {
  text-align: left;
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-2 .elementor-element.elementor-element-64a6ada .elementor-column {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
body.rtl
  .elementor-2
  .elementor-element.elementor-element-64a6ada
  fieldset
  > label {
  padding-left: 5px;
}
body:not(.rtl)
  .elementor-2
  .elementor-element.elementor-element-64a6ada
  fieldset
  > label {
  padding-right: 5px;
}
body
  .elementor-2
  .elementor-element.elementor-element-64a6ada
  fieldset
  > label {
  padding-bottom: 5px;
}
.elementor-2 .elementor-element.elementor-element-64a6ada fieldset > label,
.elementor-2
  .elementor-element.elementor-element-64a6ada
  .elementor-field-subgroup
  label {
  color: #616161;
}
.elementor-2 .elementor-element.elementor-element-64a6ada fieldset > label {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
}
.elementor-2 .elementor-element.elementor-element-64a6ada fieldset > input {
  text-align: left;
  background-color: #ffffff;
  border-width: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-64a6ada fieldset select {
  text-align: left;
  background-color: #ffffff;
  border-width: 0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-64a6ada fieldset > textarea {
  text-align: left;
  background-color: #ffffff;
  border-width: 0px 0px 0px 0px;
}
.elementor-2
  .elementor-element.elementor-element-64a6ada
  fieldset
  > input:focus {
  background-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-64a6ada
  fieldset
  select:focus {
  background-color: #ffffff;
}
.elementor-2
  .elementor-element.elementor-element-64a6ada
  fieldset
  > textarea:focus {
  background-color: #ffffff;
}
.elementor-2 .elementor-element.elementor-element-64a6ada fieldset > button {
  background-color: #718048;
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  border-radius: 5px 5px 5px 5px;
}
.elementor-2
  .elementor-element.elementor-element-64a6ada
  fieldset
  > button:hover {
  background-color: #ffffff;
  color: #718048;
}
.elementor-2
  .elementor-element.elementor-element-64a6ada
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
@media (max-width: 767px) {
  .elementor-2
    .elementor-element.elementor-element-ee37d8b
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-2
    .elementor-element.elementor-element-87bc06b
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-4d122ff {
    text-align: center;
  }
  .elementor-2
    .elementor-element.elementor-element-4d122ff
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-2
    .elementor-element.elementor-element-a62a4ad
    .elementor-icon-box-icon {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-c240945
    .elementor-icon-box-icon {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-6742189
    .elementor-icon-box-icon {
    margin-bottom: 15px;
  }
  .elementor-2
    .elementor-element.elementor-element-a870df9
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-2 .elementor-element.elementor-element-1857ece {
    text-align: center;
  }
  .elementor-2
    .elementor-element.elementor-element-1857ece
    .elementor-heading-title {
    font-size: 22px;
  }
  .elementor-2
    .elementor-element.elementor-element-64a6ada
    .content-form
    .submit-form {
    text-align: center;
  }
}
